
<div id="home-container"  class="container" >
    <div id="page-content" class="jumbotron text-center text-white">
        <h1 class="display-4">Bootstrap</h1>
        <p class="lead">
            Creating a new Rails project on a newly set up WSL involves several steps, including installing necessary dependencies, setting up Ruby, and creating the Rails project.
        </p>
        <hr class="my-4">
        <div class="d-inline-flex gap-2 mb-5">
            <button class="align-items-center btn btn-success btn-lg px-4" type="button">
            Sign up!
            </button>
        </div>
    </div>
</div>

